/.vscode
/backend
/bootstrap
/c++
/coding
/css
/dbmsproject1
/github
/gitprac
/html
/javascript
/majorproject
/minithon
/node_modules
/package-lock.json
/package.json
/projects
/react
/react_delta
/sih
/sqlc
/upweave